.books-for-days-crate {
  padding: 30px 320px;
}

.books-for-days-crate-title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}

.books-block {
  display: flex;
  column-gap: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
  color: black;
}
